.spacer {
	margin-top: 40px;
}
.bienvenue{text-align: center 

}
body {
color:black;
text-align :center

}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
#menu li ul{
	position:absolute;
	left:-999em;
}