<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Associer une Celebrite à un monument</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap1.min.css"
	th:href="@{/css/bootstrap1.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:replace="template1 :: header"></header>
	<div class="col-md-6 col-sm-6  col-xs-12 spacer col-md-offset-3 ">

		<div class="panel panel-default">

			<div class="panel-heading">Veuillez saisir le de la celebrite
				et le code du Monument à associer:</div>
			<div class="panel-body">

				<form th:action="@{AssocierM}" method="post">
					<div class="form-group">
						<label class="control-label">Numero de la celebrite:</label> <input
							type="text" name="numCelebrite" class="form-control" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">Code du Monument:</label> <input
							type="text" name="CodeM" class="form-control" /> <span></span>
					</div>

					<div>
						<button type="submit" class="btn btn-primary">Associer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="template1 :: footer"></footer>
</body>
</html>