<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Departements</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>

<body>
	<header th:replace="template1 :: header"></header>
	<div class ="bienvenue">
	<p></p>	
	<p></p>	
	<p></p>	
	<p></p>	
<h1>Bienvenue</h1>
<h2>Sur Ce Site</h2>
<h3>De Gestion de Monuments</h3>
<h4>Associées   </h4>
<h5>à des Celebrités</h5>
<h6>Françaises</h6>

<h3>   Realisé Par <small class="text-muted">Tassadit BEN AHMED &#128540;</small>
</h3>
<p class="lead">A tout à l'heure </p></div>

	<footer th:replace="template1 :: footer"></footer>
</body>
</html>