<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Departements</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>

<body>
	<header th:replace="template1 :: header"></header>
	<p></p>
	<p></p>
	<p></p>

	<div class="panel-body">
		<form th:action="@{/consultdepartement}" method="get">
			<label>Code departement</label> <input type="text" name="numDep" />
			<button type="submit" class="btn btn-primary"> Chercher</button>
		
	</div>
	</div>
	<table class="table" table-striped>
		<thead> 
		<tr> 
			<th>Le numero est</th>

				<th>Le chef lieu c'est</th> 
			<th>Le nom du Departement</th> 
		<th>La region de</th> 
			</tr> 
	</thead> 

		<tbody>
		
			<tr class="table-light" th:if="${departement}">


				<td th:text="${departement.numDep}"></td>
				<td th:text="${departement.chefLieu}"></td>
				<td th:text="${departement.nomDep}"></td>
				<td th:text="${departement.region}"></td>
			</tr>
		</tbody>
	</table>
	<footer th:replace="template1 :: footer"></footer>
</body>
</html>