<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Departements</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>

<body>
	<header th:replace="template1 :: header"></header>
	<div layout:fragment="content">
		<div class="col-md-66">
			<div class="panel panel-primary">

				<p></p>
				<div class="panel-heading">Veuillez renseigner les codes des
					deux monuments:</div>
				<p></p>
				<div class="panel-body">
					<form th:action="@{/calculeDistance}" method="get">
						<label>Code monument A</label> <input type="text" name="codeMA" />
						<label>Code monument B</label> <input type="text" name="codeMB" />

						<button type="submit" class="btn btn-primary">Calculer</button>


						<table class="table" table-striped>
							<thead>
								<tr>
									<th>La distance en Km entre ces deux monuments est de</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-light">
									<td th:text="${result}"></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="template1 :: footer"></footer>
</body>
</html>