<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title> Saisie d'un Monument</title>
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css" 
 th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap1.min.css" 
 th:href="@{/css/bootstrap1.min.css}"/>
 <link rel="stylesheet" type="text/css" href="../static/css/style.css" 
 th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="template1 :: header"></header>
	<!--cette page gere les ecrans tablettes  -->
	<!--offset pour qu'il soit au milieu -->
	<div class="col-md-6 col-sm-6  col-xs-12 spacer col-md-offset-3 ">
		<div class="panel panel-default">
		<div class="panel-heading">Veuillez saisir les informations concernat le monument à Modifier sans toucher à l'Id:</div>
		<div class="panel-body">
		 <form th:action="@{updateMonument}" method="post" th:object="${monument}">
			<div class="form-group">
						<label class="control-label">code Monument:</label>
	            <input type="text" th:field="*{codeM}" class="form-control"/>
						<span class="texte-danger" th:errors="*{codeM}"></span>
						<!-- span pour les messages d'erreur -->
					</div>
					<div class="form-group">
						<label class="control-label">nom du Monument:</label> 
						<input type="text" th:field="*{nomM}" class="form-control"/>
						<spanclass="texte-danger" th:errors="*{nomM}" ></span>
					</div>
					<div class="form-group">
						<label class="control-label">Le proprietaire:</label> 
						<input type="text" th:field="*{propritaire}" class="form-control"/>
						<span class="texte-danger" th:errors="*{propritaire}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">type du Monumrnt</label> 
						<input type="text" th:field="*{typeMonument}" class="form-control"/>
						<span class="texte-danger" th:errors="*{typeMonument}" ></span>
					</div>
					<div class="form-group">
						<label class="control-label">latitude</label> 
						<input type="number" th:field="*{latitude}" class="form-control"/>
						<span class="texte-danger" th:errors="*{latitude}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">longitude</label> 
						<input type="number" th:field="*{longitude}" class="form-control"/>
						<span class="texte-danger" th:errors="*{longitude}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Indiquez le code lieu ici</label> 
						<input type="text" th:field="*{localite.codeInsee}" class="form-control"/>
						<span class="texte-danger" th:errors="*{localite.codeInsee}"></span>
					</div>
					<div>
					  <button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
		</div>
		</div>
	</div>
	
	<footer th:replace="template1 :: footer"></footer>
</body>
</html>
