<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Liste des monuments</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="..static/css/myStyle.css"
	th:href="@{css/myStyle}" />
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<body>

<p></p>
<div class="example-wrapper"></div>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong></strong> <a href="#" class="alert-link"></a> Vous n'etes pas autorisé à consulter cette page
  Veuillez vous connectez si vous etes un Admin !!!!!!! <a th:href="@{/login}">Connectez vous</a>
</div>
</div>


</body>
</html>