<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Saisie d'un Monument</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap1.min.css"
	th:href="@{/css/bootstrap1.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:replace="template1 :: header"></header>
	<!--cette page gere les ecrans tablettes  -->
	<!--offset pour qu'il soit au milieu -->
	<div class="col-md-6 col-sm-6  col-xs-12 spacer col-md-offset-3 ">
		<div class="panel panel-default">
			<div class="panel-heading">Veuillez saisir les informations
				concernat le monument à ajouter:</div>
			<div class="panel-body">
				<!-- quand je valide le formulaire j'appelle saveMonument -->
				<!-- chercher dans le model un objet qui s'appelle monument c'est du databindig -->
				<!-- tous les champs que je vais saisir concerne l'object etudiant -->
				<form th:action="@{SaveMonument}" method="post"
					th:object="${monument}">
					<!-- route teste{FK_CodeInsee}/monument -->
					<div class="form-group">
						<label class="control-label">code Monument:</label>
						<!-- chaque champ vas me permettre de saisir des attributs concernant cette objet -->
						<!-- donc je vais faire la liaison, le *veut dire concerne le monument -->
						<!-- il faut nommer les attributs exactement comme la classe monument -->
						<input type="text" th:field="*{codeM}" class="form-control" /> <span></span>
						<!-- span pour les messages d'erreur -->
					</div>
					<div class="form-group">
						<label class="control-label">nom du Monument:</label> <input
							type="text" th:field="*{nomM}" class="form-control" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">Le proprietaire:</label> <input
							type="text" th:field="*{propritaire}" class="form-control" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">type du Monumrnt</label> <input
							type="text" th:field="*{typeMonument}" class="form-control" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">latitude</label> <input type="number"
							th:field="*{latitude}" class="form-control" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">longitude</label> <input
							type="number" th:field="*{longitude}" class="form-control" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">Indiquez le code lieu ici</label> <input
							type="text" th:field="*{localite.codeInsee}" class="form-control" />
						<span></span>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="template1 :: footer"></footer>
</body>
</html>