<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Saisie d'un Monument</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>

<button type="button" class="btn btn-primary btn-lg btn-block">Sur
	cette page vous pouvez gerer les monuments</button>
<p>;</p>
<p></p>
<p></p>

<div class="col-md-10 col-md-offset-6 spacer40">
	<a href="/monuments" class="btn btn-primary btn-lg btn-block">
		Gerer Monument</a> <a href="/celebrites"
		class="btn btn-primary btn-lg btn-block disabled"> Gerer Celebrite
	</a> <a href="/lieu" class="btn btn-primary btn-lg btn-block"> Gerer
		Lieu </a> <a href="/departement"
		class="btn btn-primary btn-lg btn-block disabled"> Gerer
		Departement </a>
</div>

<footer th:replace="template1 :: footer"></footer>
</body>
</html>