<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Liste des monuments par departement</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="..static/css/myStyle.css"
	th:href="@{css/myStyle}" />
</head>

<body>
	<header th:replace="template1 :: header"></header>
	<p>
		<!-- juste pour espacer entre la barre et la div hhh -->
	</p>
	<div class="container spacer">
		<form th:action="@{/listCeleb}" methode="get">
			<div class="form-group">
				<label> Veuillez saisir le nom du monument </label> <input
					type="text" name="codeM" class="buttuon buton primary">
				<button type="submit" class="btn btn-primary">Voir toutes les celebrites associées
			</div>
		</form>
	</div>
	<div class="container" spacer>
		<table class="table" table-striped>
			<thead>
				<tr>
					<th>nom</th>
					<th>Prenom</th>
					<th>Epoque</th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-light" th:each="c:${listc}">

					<td th:text="${c.nom}"></td>
					<td th:text="${c.prenom}"></td>
					<td th:text="${c.epoque}"></td>
				  </tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="template1 :: footer"></footer>
</body>
</html>