<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Authentification</title>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div class="col-md-4 col-md-offset-3 spacer40">
  <div class="panel panel-primary">
	<div class="panel-heading">Authentification</div>
	<div class="panel-body" oncancel="">
	
		<form th:action="@{/login}" method="post" >
		<div>
			<label class="control-label">Username</label>
			<input class ="form-control" type="text" name="username" placeholder="your username"/>
		</div>
		<div>
			<label>Password</label>
			<input class ="form-control" type="password" name="password" placeholder="your password"//>
		</div>
		<button  class ="btnn btn-primary" type="submit">Login</button>
		</form>
	</div>
	</div>
</div>
	
</body>
</html>
