<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="template1">

<head>
    <meta charset="UTF-8">
    <title>Liste des monuments</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css" th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="..static/css/myStyle.css" th:href="@{css/myStyle}" />
</head>

<body>
    <header th:replace="template1 :: header"></header>
    <p>
        <!-- juste pour espacer entre la barre et la div hhh -->
    </p>
    <div class="container spacer">
        <form th:action="@{/rechercher}" methode="get">
            <div class="form-group">
                <label> Chercher votre monument</label>
                <input type="text" name="mc" class="buttuon buton primary">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </div>

        </form>

        <div class="ajoutermon">
            <form th:action="@{/formMonument}" methode="get">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ajouter un Monument</button>
                </div>
            </form>
        </div>
         <div class="ajoutermon">
            <form th:action="@{/Associer}" >
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Associer une celebrite à un monument</button>
                </div>
            </form>
        </div>
        <p></p>
        <p></p>
    </div>
    <p></p>
    <div class="container" spacer>
        <table class="table" table-striped>
            <thead>

                <th>codeM</th>
                <th>Nom du monument</th>
                <th>Proprietaire</th>
                <th>Tupe du Monument</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>code Insee</th>
                </tr>
            </thead>
            <!-- le moteur de template vas interpreter et comprendre qu'il s'agit d'une boucle  -->
            <tbody>
                <tr class="table-light" th:each="m:${monuments}">

                    <td th:text="${m.codeM}"></td>
                    <td th:text="${m.nomM}"></td>
                    <td th:text="${m.propritaire}"></td>
                    <td th:text="${m.typeMonument}"></td>
                    <td th:text="${m.latitude}"></td>
                    <td th:text="${m.longitude}"></td>
                    <td th:text="${m.localite.codeInsee}">
                        <!-- un peu de java script -->
                        <td>
                            <button class="btn btn-primary">
                                <a onclick="return confirm ('Etes vous sure de vouloir supprimer ce monument?')" th:href="@{supprimerM(codeM=${m.codeM})}">supprimer </a>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary">
                                <a th:href="@{ModifierM(codeM=${m.codeM})}"> Modifier</a>
                            </button>
                            </a>
                        </td>

                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="template1 :: footer"></footer>
</body>

</html>