<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Gestion des Monuments Associes aux Celebrites</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/myStyle.css" th:href="@{/css/myStyle.css}" />
</head>
<style>
    #menu li ul {
        position: absolute;
        left: -999em;
    }
  
</style>

<body>
    <header>

        <!-- l'entete est fixe -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Gestion de Monumens</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">

                <ul id="menu" class="navbar-nav mr-auto">

                    <li class="nav-item"><a class="nav-link" th:href="@{/departements}">Departemets</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/listCeleb}">Celebrites</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/monuments}">Gerer les Monuments</a></li>

                    <li>
                        <button class="btn btn-primary">
                            <a class="nav-link" th:href="@{/monumentV}">Monuments</a>
                        </button>
                        <div class="btn-group" role="group">
                            <div class="drown-item">
                                <ul>
                                    <li><a class="nav-link" th:href="@{/monumentV}">Tous
											les monuments</a></li>
                                    <li><a class="nav-link" th:href="@{/listMonumentbydep}">
											Monuments par departement</a></li>
                                    <li><a class="nav-link" th:href="@{/distance}">
											Estimer une distance entre deux monuments</a></li>
							   </ul>
                            </div>
                        </div>
                        </ul>

                    </li>
                </ul>
                <button class="nav-link">
                    <a onclick="return confirm ('Voulez vous Vraiment vous deconnecter??')" th:href="@{/logout}">Logout</a>
                </button>

            </div>
        </nav>

    </header>
    <!-- la zone  section qui sera variable -->
    <section layout:fragment="content"></section>
    <footer>
        <div class="navbar-fixed-bottom">
            <small>tassadit.ben-ahmed@etu.umontpellier.fr</small>
        </div>
    </footer>

</body>

</html>